/* Desktop - 1 */
header, body {
position: relative;
width: 1440px;
height: 1024px;

background: #1F1F21;
overflow: hidden;
}

/* makas */
#scissorsButton {
position: absolute;
width: 100px;
height: 100px;
left: 1100px;
top: 330px;

background: #E1E1E1;
}

/* kağıt */
#paperButton {
position: absolute;
width: 100px;
height: 100px;
left: 900px;
top: 330px;

background: #E1E1E1;
}

/* taş */
#rockButton {
position: absolute;
width: 100px;
height: 100px;
left: 700px;
top: 330px;

background: #E1E1E1;
}

/* ✊ */
#rock_emoji {
position: fixed;
width: 48px;
height: 48px;
left: 733px;
top: 312px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;
}


/* ✋ */
#hand_emoji {
position: fixed;
width: 48px;
height: 48px;
left: 934px;
top: 312px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;
}


/* ✂ */
#scissors_emoji{
position: fixed;
width: 48px;
height: 48px;
left: 1135px;
top: 312px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;
}


/* Rectangle 1 */
#scoreboard {
box-sizing: border-box;

position: absolute;
width: 200px;
height: 100px;
left: 850px;
top: 64px;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

/* 0 : 0 */ 
/* #scores {
position: fixed;
width: 100px;
height: 62px;
left: 910px;
top: 46px;

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #AA01FA;
} */

#playerScore {
  position: fixed;
  width: 100px;
  height: 62px;
  left: 880px;
  top: 46px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;

  color: #AA01FA;
}

#computerScore {
  position: fixed;
  width: 100px;
  height: 62px;
  left: 940px;
  top: 46px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;

  color: #AA01FA;
}

#ikiNokta {
  position: fixed;
  width: 100px;
  height: 62px;
  left: 910px;
  top: 46px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;

  color: #AA01FA;
}

/* Computer chose Rock. You lose! */
#text {
position: absolute;
width: 665px;
height: 51px;
left: 620px;
top: 150px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #FFFFFF;
}

h4 {
position: absolute;
width: 665px;
height: 51px;
left: 620px;
top: 450px;


font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 58px;
text-align: center;

color: #FFFFFF;
}

#restartButton {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 900px;
  top: 600px;

  background: #E1E1E1;
}